.image{
    filter:drop-shadow(10px 8px 6px  #201719 );
    height: 10px;
    width: 20px;
   }
   
     .text{
       color: rgb(241, 3, 122);
       padding: 10px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       padding-left:40px;
       text-shadow: 10px 8px 6px  #252223;
     }
     .container{
       display: flex;
       width: 100%;
       height: 90px;
       background: fixed; 
     }
    
   .nav-menu {
     text-align: right;
     padding: 35px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
     width: 100%;
   }
     .nav-item{
       text-decoration: none;
       font-size: 1em;
     }
     a.nav-item{
       justify-content: space-between;
       padding: 0 0 0 100px;
       color: rgb(63, 73, 73);
     }
     a.nav-item:hover {
       color: #815ed3;
       
     }
     .image1{
        border-radius: 80px;

     }
     .section{
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
     .names{
      color: rgb(241, 3, 122);
          }     
          .para{
            padding-left: 200px;
            padding-right: 200px;
             text-align:justify;
           }